* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    padding-top: 70px;
}


/*NAVBAR*/


.navbar-custom {
    background-color: black;
    border-color: black;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;

}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: grey;
    background-color: white;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: grey;
    background-color: white;
}

.navbar-custom .navbar-toggle {
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: grey;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: white;
}

a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-img {
    width: auto;
    height: 100%;
    padding: 5px;
}

/*CONTENT*/

.page {
    min-height:100%;
    position:relative;
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    grid-template-rows: auto;
    grid-row-gap: 2em;
    grid-template-areas:
            "content1 . rightbar1"
            "content2 . rightbar2"
            "content3 . rightbar3";
}
@media (max-width: 767px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas:
                "content1"
                "rightbar1"
                "content2"
                "rightbar2"
                "content3"
                "rightbar3";
    }

}

@media (max-width: 1681px) {

    .footer {
        margin-top: 2em;
    }

    .foot {
        position: relative;
        clear:both;
    }
}

.content1 {
    height: 100vm;
    border: 1px solid black;
    grid-area: content1;
    box-shadow: -10px 10px 5px gray;

}

.rightbar1 {
    display: block;
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
    cursor: pointer;
    border: 10px inset darkgrey;
    border-radius: 100px;
    box-shadow: -10px 10px 5px gray;
    margin-left: 1em;
    grid-area: rightbar1;

}

.rightbar1:active {

    box-shadow: -3px 5px #666;
    transform: translateY(4px);
}

.content2 {
    height: 100vm;
    border: 1px solid black;
    grid-area: content2;
    box-shadow: -10px 10px 5px gray;
}

.rightbar2 {
    display: block;
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
    cursor: pointer;
    border: 10px inset darkgrey;
    border-radius: 100px;
    box-shadow: -10px 10px 5px gray;
    margin-left: 1em;
    grid-area: rightbar2;

}

.rightbar2:active {

    box-shadow: -3px 5px #666;
    transform: translateY(4px);
}
.content3 {
    height: 100vm;
    border: 1px solid black;
    grid-area: content3;
    box-shadow: -10px 10px 5px gray;
}

.rightbar3 {
    display: block;
    width: 12em;
    height: 12em;
    margin-bottom: 2em;
    cursor: pointer;
    border: 10px inset darkgrey;
    border-radius: 100px;
    box-shadow: -10px 10px 5px gray;
    margin-left: 1em;
    grid-area: rightbar3;

}

.rightbar3:active {

    box-shadow: -3px 5px #666;
    transform: translateY(4px);
}

.gif {
    display: block;
    margin: 0 auto;

}

.front-text {
    padding: 1em;
}

:target:before {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
}

